<h1>New user</h1>

<% flash.each do |type, msg|%>
<% unless type == "notice" %>
<p><%= msg %></p>
<% end %>
<% end %>

<%= render "form", user: @user %>

<br>

<div>
<%= button_to 'Войти', root_path, method: :get%>
</div>